<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>明瓶.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,349}</string>
                <key>spriteSourceSize</key>
                <string>{500,349}</string>
                <key>textureRect</key>
                <string>{{0,0},{500,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>观音.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,716}</string>
                <key>spriteSourceSize</key>
                <string>{500,716}</string>
                <key>textureRect</key>
                <string>{{0,349},{500,716}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>鸭灯.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,716}</string>
                <key>spriteSourceSize</key>
                <string>{500,716}</string>
                <key>textureRect</key>
                <string>{{0,1065},{500,716}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>relic2.png</string>
            <key>size</key>
            <string>{500,1781}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c34b347f6551a5a41e57fdcd3fe310a:1f0108e579268f5813606f5c410aefc2:ca2d41428dcfaf3683f9fd9af8c9b533$</string>
            <key>textureFileName</key>
            <string>relic2.png</string>
        </dict>
    </dict>
</plist>
