<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gallipot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,349}</string>
                <key>spriteSourceSize</key>
                <string>{500,349}</string>
                <key>textureRect</key>
                <string>{{0,0},{500,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Jade_cabbage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,716}</string>
                <key>spriteSourceSize</key>
                <string>{500,716}</string>
                <key>textureRect</key>
                <string>{{1500,1047},{500,716}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Painting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,349}</string>
                <key>spriteSourceSize</key>
                <string>{500,349}</string>
                <key>textureRect</key>
                <string>{{500,0},{500,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>三星堆面具.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,349}</string>
                <key>spriteSourceSize</key>
                <string>{500,349}</string>
                <key>textureRect</key>
                <string>{{1000,0},{500,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>商周玉矛.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,349}</string>
                <key>spriteSourceSize</key>
                <string>{500,349}</string>
                <key>textureRect</key>
                <string>{{1500,0},{500,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>方升.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,349}</string>
                <key>spriteSourceSize</key>
                <string>{500,349}</string>
                <key>textureRect</key>
                <string>{{0,349},{500,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>牛角杯.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,349}</string>
                <key>spriteSourceSize</key>
                <string>{500,349}</string>
                <key>textureRect</key>
                <string>{{500,349},{500,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>玉棕.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,349}</string>
                <key>spriteSourceSize</key>
                <string>{500,349}</string>
                <key>textureRect</key>
                <string>{{1000,349},{500,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>石虎.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,349}</string>
                <key>spriteSourceSize</key>
                <string>{500,349}</string>
                <key>textureRect</key>
                <string>{{1500,349},{500,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>碗.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,349}</string>
                <key>spriteSourceSize</key>
                <string>{500,349}</string>
                <key>textureRect</key>
                <string>{{0,698},{500,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>贾湖骨笛.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,349}</string>
                <key>spriteSourceSize</key>
                <string>{500,349}</string>
                <key>textureRect</key>
                <string>{{500,698},{500,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>越王勾践.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,349}</string>
                <key>spriteSourceSize</key>
                <string>{500,349}</string>
                <key>textureRect</key>
                <string>{{1000,698},{500,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>金兽.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,349}</string>
                <key>spriteSourceSize</key>
                <string>{500,349}</string>
                <key>textureRect</key>
                <string>{{1500,698},{500,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>金环.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,417}</string>
                <key>spriteSourceSize</key>
                <string>{500,417}</string>
                <key>textureRect</key>
                <string>{{1000,1047},{500,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>金面具.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,349}</string>
                <key>spriteSourceSize</key>
                <string>{500,349}</string>
                <key>textureRect</key>
                <string>{{0,1047},{500,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>马踏飞燕.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,349}</string>
                <key>spriteSourceSize</key>
                <string>{500,349}</string>
                <key>textureRect</key>
                <string>{{500,1047},{500,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>relic.png</string>
            <key>size</key>
            <string>{2000,1763}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9752cd92917bdae6b039d334e9b190bc:696c6ea8bee80e33052150242f786e6a:e210fcceda1ad0f3e34de5c12e90739c$</string>
            <key>textureFileName</key>
            <string>relic.png</string>
        </dict>
    </dict>
</plist>
