<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>click (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1,1},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>click (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{67,1},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>click (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{133,1},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>click (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{199,1},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>click (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{66,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{467,1},{66,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>click (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{265,1},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>click (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{335,1},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>click (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{401,1},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>column (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{537,1},{66,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>column (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{609,1},{66,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>column (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{681,1},{66,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>column (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{753,1},{66,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>column (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{825,1},{66,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>column (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1,67},{66,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>column (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{73,67},{66,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>column (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{145,67},{66,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>column (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{217,67},{66,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>column (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{289,67},{66,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{361,67},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{433,69},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{505,69},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{577,69},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{649,69},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{721,69},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{793,73},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1,135},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{73,135},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{145,135},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swap (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{217,135},{68,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swap (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{289,135},{68,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>swap (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{361,137},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swap (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{433,139},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swap (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{505,139},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swap (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{577,139},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swap (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{649,139},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swap (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{721,139},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swap (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{793,143},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>铜钱.png</string>
            <key>size</key>
            <string>{892,214}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f262ad03fb65bca47cab46511628570c:69cfc479a4e96da2b0de6aaffe3f6981:91f5a683e053468928d6a483c9fcc706$</string>
            <key>textureFileName</key>
            <string>铜钱.png</string>
        </dict>
    </dict>
</plist>
